body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://c0.wallpaperflare.com/preview/88/270/447/white-clouds-in-pink-and-blue-clouds.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#weatherContainer {
    display: none;
    width: 300px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

#locationInput {
    width: 80%;
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#weatherImage {
    width: 100px;
    height: 100px;
    margin: 20px auto;
    background-size: cover;
    background-position: center;
}

#weatherInfo {
    font-size: 16px;
    color: #333;
}

#weatherInfo div {
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}
